.personHeader {
  background-color: rgba(0, 56, 41, 0.8);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid white;
  font-family: sans-serif;
  padding-right: 2%;
}

.main-nav-bar {
  background-color: rgba(70, 139, 120, 0.8);
  height: 10%;
  padding-top: 1%;
  border-bottom: 2px solid white;
  font-size: 22px;
}

.main-nav-bar > ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 5%;
  list-style-type: none;
  font-family: roboto;
  text-decoration: none;
}

@media only screen and (max-width: 640px) {
  .heading-group-h1 {
  
  }
