
.project-image {
  width: 40%;
  height: 50%;
}

.project-image-img {
  max-width: 100%;

}
.main-nav-bar ul {
  display: none;
}
.main-nav-bar:hover ul {
  display: flex;
  flex-direction: column;
  font-family: roboto;
  font-size: 1.28em;
  text-align: center;
  color: #F0F0F0;
  list-style: none;
  /*background-color: #0ABAF5;*/
  opacity: 0.9;
  padding: 1px;
  margin-top: 0%
}

.main-nav-bar > ul > li {
  border-bottom: 1px solid white;
  padding-top: 2%;
  background-color: #F04;
  /*padding-left: 1px;*/
}

.hmenu-container {
  width: 10%;
  /*outline: dotted 1px red;*/
  background-color: #F04;
  opacity: 0.9;
  padding-left: 40%;
  padding-right: 50%;
}
.hmenu-container img {
  display: block;
  max-width: 100%;
  /*outline: dotted 1px red;*/

}
@media screen and (min-width: 640px) {

  .main-nav-bar {
    background-color: rgba(0, 0, 0, 0.6);
    height: 5%;
    padding-top: 1%;
    border-bottom: 2px solid white;
    font-size: 22px;
    text-decoration: none;
    list-style: none;
  }

  .main-nav-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 5%;
    list-style-type: none;
    font-family: roboto;
    text-decoration: none;
    color: #F0F0F0;
    padding-bottom: 2%;
  }

  .main-nav-bar:hover ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 5%;
    padding-bottom: 1%;
    list-style-type: none;
    font-family: roboto;
    text-decoration: none;
    color: #F0F0F0;
  }

  .hmenu-container img {
    display: none;
  }

  .about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #F0F0F0;
    color: black;
  }

  .nav-content article{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
