#projects {
  background-color: white;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: lora;
  padding-right: 10%;
  border-bottom: 2px solid white;
  color: black;

}

#about {
  background-color: rgba(70, 139, 120, 0.8);
  padding: 1%;
  font-family: roboto;
}

.test-image {
  background-image: url("http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-120534.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  outline: dotted 1px red;
  /*position: relative;*/
  /*z-index: -1;*/
}

.test-image-contents {
  height: 20em;
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  outline: dotted 1px red;
}

.test-image-contents h1 {
  display: inline-block;
  /*position: absolute;*/
  font-size: 4.23em;
  outline: dotted 1px red;
  color: #F0F0F0;
}

.test-image-contents h3 {
  display: inline-block;
  top: 1em;
  /*position: absolute;*/
  font-size: 1.618em;
  color: #F0F0F0;
  outline: dotted 1px red;
  font-family: roboto;
}

.main-nav-bar > ul > li {
  /*background-color: blue;
  color: #F0F0F0;
  border: 3px solid white;
  border-radius:
  margin: 1em;
  outline: dotted 1px red;*/

background-color: blue;
color: white;
padding: 14px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
border-radius: 5px;
}
