.personHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: teal;
  border-bottom: 3px solid white;
  font-family: sans-serif;
  padding-right: 2%;
}

#projects {
  background-color: teal;
  padding: 1%;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  padding-right: 10%;
  margin-left: 2%;
}

.byline {
  font-style: italic;
}

h1, h2 {
  color: #162856;
}

.main-nav-bar > ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 5%;
}
